---
layout: main_layout.njk
cssFile: "game.css"
jsFile: "game.js"
---

<div id="counter">
    <div id="counter_points">0</div>
    <div>/20</div>
</div>

<div id="controlls">
    <div id='directions'>
        <button id="forward">
            <svg width="30" height="30" viewBox="0 0 10 10">
                <g transform="rotate(0, 5,5)">
                    <path d="M5,4 L7,6 L3,6 L5,4"/>
                </g>
            </svg>
        </button>
        <button id="left">
            <svg width="30" height="30" viewBox="0 0 10 10">
                <g transform="rotate(-90, 5,5)">
                    <path d="M5,4 L7,6 L3,6 L5,4"/>
                </g>
            </svg>
        </button>
        <button id="backward">
            <svg width="30" height="30" viewBox="0 0 10 10">
                <g transform="rotate(180, 5,5)">
                    <path d="M5,4 L7,6 L3,6 L5,4"/>
                </g>
            </svg>
        </button>
        <button id="right">
            <svg width="30" height="30" viewBox="0 0 10 10">
                <g transform="rotate(90, 5,5)">
                    <path d="M5,4 L7,6 L3,6 L5,4"/>
                </g>
            </svg>
        </button>
    </div>
    <div id="actions">
        <button id="action_q">
            <svg width="30" height="30" viewBox="0 0 10 10">
                <<text y="8" x="2" font-size="5px" >Q</text>>
            </svg>
        </button>
    </div>
</div>

<!-- The dialog text bubble starts here  -->
<dialog id="txt_bubble" class="dialog">
    <p id="text_dialog">Lorem ipsum</p>
    <form method="dialog">
        <div>
            <button value="ok">Ok</button>
        </div>
    </form>
</dialog>
<!-- Dialog end  -->

<!-- Splash Screen code starts here  -->
<div class="splash">
    <div class="splash-header">
        <div class="welcome">
            <p>Jesus Valadez</p>
            <p>Full Stack Developer </p>
        </div>
        <div class="presentation">
            <p>
            This interactive experience is designed to showcase my skills, 
            experience, and projects in a unique and engaging way. 
            </p>
            <p>
            Instead of a traditional portfolio, you'll navigate through a 
            virtual city where each section highlights different aspects 
            of my work.
            </p>
        </div>

        <a href="#" class="press-start">Press Start</a>
    </div>
</div>
<!-- Splash Screen end  -->

<div id="end">
    <button id="retry">Retry</button>
</div>